@import "tailwindcss";

@theme {
  --font-urbanist: "Urbanist", sans-serif;
  --font-snpro: "SN Pro", sans-serif;
}

:root {
  font-family: var(--font-snpro);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
